<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Segunda Mano
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="favs()">
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="buscar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-6 *ngFor='let mascota of mascotas'>
      <ion-card (click)='verMascota(mascota)'>
        <img *ngIf="mascota.ad.hasOwnProperty('images')"
        src = "http://img.segundamano.mx/cover/{{mascota.ad.thumbnail.path}}">
        <img *ngIf="!mascota.ad.hasOwnProperty('images')"
        src = "../assets/animal-prints.png">
        <ion-card-content>
          <h2 *ngIf="mascota.ad.hasOwnProperty('subject')">
            {{mascota.ad.subject}}
          </h2>
          <p *ngIf="mascota.ad.hasOwnProperty('list_price')">
            {{mascota.ad.list_price.label}}
          </p>
          <p *ngIf="mascota.ad.hasOwnProperty('locations')">
            {{mascota.ad.locations[0].locations[0].label}}, {{mascota.ad.locations[0].label}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
